.friends-container {
    background: linear-gradient(#c3dafd, #e6efff);
    width: 100%;
    border-radius: 5px;
}

.friends-cont {
    width: 90%;
    min-height: 58em;
    margin: auto;
}

.friends-search-info {
    padding: 30px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.found-friends {
    display: block;
    background: radial-gradient( #6b90c8, #213f60);
    padding: 8px 12px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
}

.found-friends:hover {
    background: #20344a;
}

fieldset {
    margin: 0;
    background: linear-gradient( #e6efff, #b3d3ff);
    border: none;
    border-radius: 10px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    color: #8390c6;
}

.my-friends {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.friend {
    margin: auto;
    text-align: center;
}

.friend-avatar {
    border: 2px solid white;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
}

.friend-login {
    padding-top: 5px;
    font-weight: bold;
}

.new-friends {
    padding: 30px;
}

.new-friend {
    display: flex;
    align-items: center;
    margin: auto;
    padding-bottom: 20px;
}

.new-friend-avatar {
    border: 2px solid white;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
}

.new-friend-login {
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.add-friend {
    display: block;
    padding: 6px 18px;
    border-radius: 10px;
    border: 2px solid #909bd2;
    margin-left: auto;
    text-decoration: none;
    color: #909bd2;
}

.add-friend:hover {
    background: #909bd2;
    color: white;
}

/*--------------------*/

.search__input {
    margin: auto;
    width: 80%;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    box-shadow: 0 0 30px rgb(69, 106, 159);
    color: #575756;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: all 500ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgb(89, 93, 122);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.search__input:hover,
.search__input:focus {
    box-shadow: none;
    outline: 0;
    border: 2px solid white;
}
